{% capture post_or_page_title %}{% if index %}{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}{% else %}{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}{% endif %}{% endcapture %}
{% capture post_or_page_url %}{{ site.url }}{% if index %}{{ post.url }}{% else %}{{ page.url }}{% endif %}{% endcapture %}
<header>
  {% if index %}
    <h1 class="entry-title"><a href="{{ post.url }}">{{ post_or_page_title }}</a></h1>
  {% else %}
    <h1 class="entry-title">{{ post_or_page_title }}</h1>
  {% endif %}
  {% unless page.meta == false %}
    <p class="meta">
      {% include post/date.html %}{{ time }}
      {% include post/categories.html %}
      <span class="share-to-weibo">
        <a href="javascript:void(0)" onclick="window.open('http://service.weibo.com/share/share.php?appkey={{ site.sina_weibo_appkey }}&amp;ralateUid={{ site.sina_weibo_uid }}&amp;title={{ post_or_page_title }} - &amp;url={{ post_or_page_url }}', null, 'width=615,height=505,toolbar=0,status=0')" class="sina-weibo" title="分享到新浪微博"></a>

        <a href="javascript:void(0)" onclick="window.open('http://share.v.t.qq.com/index.php?c=share&amp;a=index&amp;appkey={{ site.tencent_weibo_appkey }}&amp;title={{ post_or_page_title }} - &amp;url={{ post_or_page_url }}', null, 'width=700,height=680,toolbar=0,status=0')" class="tencent-weibo" title="分享到腾讯微博"></a>

        <a href="javascript:void(0)" onclick="window.open('https://twitter.com/intent/tweet?text={{ post_or_page_title }} - {{ post_or_page_url }}', null, 'width=600,height=300,toolbar=0,status=0')" class="twitter" title="分享到Twitter"></a>
      </span>
    </p>
  {% endunless %}
</header>

{% if index %}
  <div class="entry-content typo">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
    <footer class="align-r">
      <a href="{{ post.url }}#ContinueReading">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}
{% else %}
  <div class="entry-content typo">{{ content }}</div>
{% endif %}
